{% load humanize %}
{% load post_extras %}

<div class="item mb-5">
    <div class="row g-3 g-xl-0">
        <div class="col-2 col-xl-3">
            <img class="img-fluid post-thumb " src="{{ image }}" alt="{{ title }}">
        </div>
        <div class="col">
            <h3 class="title mb-1"><a class="text-link" href="{% url 'post' id %}">{{ title }}</a></h3>
            <div class="meta mb-1"><span class="date">Published {{ date|naturaltime }}</span><span class="time">{{ body| readTimeCount }} read</span><span class="comment"><a class="text-link" href="#">8 comments</a></span></div>
            <div class="intro"> {{body|truncatewords:50 }}</div>
            <a class="text-link" href="{% url 'post' id %}">Read more &rarr;</a>
        </div><!--//col-->
    </div><!--//row-->
</div>